head
	title Hello, I&#8217;m Connor Mason → cnnr.land
	link(rel='stylesheet', href='/stylesheets/styles.css')
	meta(charset='utf-8')
	meta(name='description', content='Connor Mason is a product leader and strategist living in Chicago.')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='author', content='Connor Mason')
		
	// Icons
	link(rel='apple-touch-icon', href='./images/headshot.jpeg')
	link(rel='icon', href='./images/favicon.ico')
	link(rel='shortcut icon', href='./images/favicon.ico')
		
	// Facebook
	meta(property='og:title', content='Hello, I\'m Connor Mason')
	meta(property='og:url', content='https://cnnr.land/')
	meta(property='og:image', content='./images/og-image.jpg')
	meta(property='og:site_name', content='cnnr.land')
	meta(property='og:description', content='Connor Mason is a product leader and strategist living in Chicago.')
		
	// Twitter 
	meta(name='twitter:card', content='summary')
	meta(name='twitter:site', content='@conmas')
	meta(name='twitter:domain', content='cnnr.land')
	meta(name='twitter:title', content='Hello, I\'m Connor Mason')
	meta(name='twitter:description', content='Connor Mason is a product leader and strategist living in Chicago.')
	meta(name='twitter:image', content='./images/og-image.jpg')
